In [1]:
#여러변수출력코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

#모듈 import
import numpy as np
import pandas as pd

In [4]:
탄소배출=pd.read_csv('C:/ds_work/data/datalab_탄소배출.csv')
기후위기=pd.read_csv('C:/ds_work/data/datalab_기후위기.csv')
온실가스=pd.read_csv('C:/ds_work/data/datalab_온실가스.csv')
이상기후=pd.read_csv('C:/ds_work/data/datalab_이상기후.csv')
탄소=pd.read_csv('C:/ds_work/data/datalab_탄소.csv')

In [5]:
datalab=pd.concat([탄소배출,기후위기,온실가스,이상기후,탄소], ignore_index=False)
datalab

         month      data
0   2016-10-01   9.76774
1   2016-11-01   8.37419
2   2016-12-01   5.79354
3   2017-01-01   3.80645
4   2017-02-01   2.72258
..         ...       ...
67  2022-05-01  19.10077
68  2022-06-01  16.10337
69  2022-07-01  14.00104
70  2022-08-01  12.44504
71  2022-09-01  12.52210

[360 rows x 2 columns]

In [9]:
#시계열 데이터
#datalab.info()
datalab["n_date"]=pd.to_datetime(datalab['month'])

In [10]:
#연,월 분철 : to_period
datalab['pr_month']=datalab['n_date'].dt.to_period(freq='M')
datalab.head()

        month     data     n_date pr_month
0  2016-10-01  9.76774 2016-10-01  2016-10
1  2016-11-01  8.37419 2016-11-01  2016-11
2  2016-12-01  5.79354 2016-12-01  2016-12
3  2017-01-01  3.80645 2017-01-01  2017-01
4  2017-02-01  2.72258 2017-02-01  2017-02

In [11]:
import matplotlib.pyplot as plt

In [12]:
탄소배출_data=datalab.groupby()

KeyError: 'pr_month'