In [1]:
#여러변수출력코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

#모듈 import
import numpy as np
import pandas as pd

In [10]:
heat=pd.read_csv('C:/ds_work/data/heat.csv')
heat

,year,1m,2m,3m,4m,5m,6m,7m,8m,9m,10m,11m,12m,year.sum,rank
0,1990,0,0,0,0.0,0.0,0.2,5.2,10.8,0.2,0,0,0,16.4,5
1,1991,0,0,0,0.0,0.1,0.3,1.0,2.2,0.1,0,0,0,3.7,29
2,1992,0,0,0,0.0,0.0,0.1,4.7,1.0,0.1,0,0,0,6.0,26
3,1993,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.1,33
4,1994,0,0,0,0.0,0.0,0.9,17.7,9.8,1.2,0,0,0,29.6,2
5,1995,0,0,0,0.0,0.0,0.0,2.7,7.7,0.0,0,0,0,10.4,19
6,1996,0,0,0,0.0,0.0,0.2,5.2,10.3,0.0,0,0,0,15.7,6
7,1997,0,0,0,0.0,0.0,1.5,5.6,3.9,0.9,0,0,0,11.9,13
8,1998,0,0,0,0.0,0.0,0.0,0.6,1.0,0.7,0,0,0,2.5,31
9,1999,0,0,0,0.0,0.0,0.9,1.1,3.1,0.0,0,0,0,5.2,28
10,2000,0,0,0,0.0,0.5,1.6,4.7,4.3,0.1,0,0,0,11.1,17
11,2001,0,0,0,0.0,0.1,1.1,4.7,5.7,0.0,0,0,0,11.6,15
12,2002,0,0,0,0.0,0.0,0.6,2.9,1.7,0.2,0,0,0,5.4,27
13,2003,0,0,0,0.0,0.0,0.0,0.0,1.1,0.1,0,0,0,1.3,32
14,2004,0,0,0,0.0,0.1,0.8,6.2,7.8,0.0,0,0,0,14.8,7
15,2005,0,0,0,0.1,0.0,1.3,3.9,3.9,0.6,0,0,0,9.7,20
16,2006,0,0,0,0.0,0.0,0.2,1.4,11.9,0.0,0,0,0,13.5,9
17,2007,0,0,0,0.0,0.0,0.6,1.6,6.5,0.1,0,0,0,8.9,22
18,2008,0,0,0,0.0,0.1,0.1,6.3,4.3,0.4,0,0,0,11.2,16
19,2009,0,0,0,0.0,0.1,1.3,0.3,1.9,0.1,0,0,0,3.6,30
20,2010,0,0,0,0.0,0.0,0.6,2.9,7.5,1.3,0,0,0,12.2,12
21,2011,0,0,0,0.0,0.0,0.7,2.3,2.5,0.8,0,0,0,6.5,25
22,2012,0,0,0,0.0,0.0,0.3,5.6,8.1,0.0,0,0,0,14.0,8
23,2013,0,0,0,0.0,0.2,0.3,4.0,12.1,0.0,0,0,0,16.6,4
24,2014,0,0,0,0.0,1.1,0.2,4.5,0.9,0.0,0,0,0,6.6,24
25,2015,0,0,0,0.0,0.4,0.5,3.1,5.7,0.0,0,0,0,9.6,21
26,2016,0,0,0,0.0,0.0,0.1,5.1,16.6,0.0,0,0,0,22.0,3
27,2017,0,0,0,0.0,0.4,1.7,5.9,5.6,0.0,0,0,0,13.5,9
28,2018,0,0,0,0.0,0.0,1.5,15.4,14.1,0.0,0,0,0,31.0,1
29,2019,0,0,0,0.0,0.5,0.5,3.0,9.0,0.0,0,0,0,13.1,11
30,2020,0,0,0,0.0,0.0,1.9,0.1,5.7,0.0,0,0,0,7.7,23
31,2021,0,0,0,0.0,0.0,0.1,8.1,3.5,0.0,0,0,0,11.8,14
32,2022,0,0,0,0.0,0.2,1.6,5.8,2.9,0.2,0,0,0,10.6,18

In [11]:
heat.isnull().sum()

year        0
1m          0
2m          0
3m          0
4m          0
5m          0
6m          0
7m          0
8m          0
9m          0
10m         0
11m         0
12m         0
year.sum    0
rank        0
dtype: int64

In [9]:
res=heat.dropna(axis=1, thresh=74)
res

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[107 rows x 0 columns]

In [7]:
heat

,year,1m,2m,3m,4m,5m,6m,7m,8m,9m,10m,11m,12m,year.sum,rank
0,1990.0,0.0,0.0,0.0,0.0,0.0,0.2,5.2,10.8,0.2,0.0,0.0,0.0,16.4,5.0
1,1991.0,0.0,0.0,0.0,0.0,0.1,0.3,1.0,2.2,0.1,0.0,0.0,0.0,3.7,29.0
2,1992.0,0.0,0.0,0.0,0.0,0.0,0.1,4.7,1.0,0.1,0.0,0.0,0.0,6.0,26.0
3,1993.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,33.0
4,1994.0,0.0,0.0,0.0,0.0,0.0,0.9,17.7,9.8,1.2,0.0,0.0,0.0,29.6,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN